<div class="container">
  <div class="imagewrapper">
    <img src="../../assets/model1.jpg" alt="model" />
  </div>
  <div class="content">
    <div class="headers">
      <h1>Tipify <em>Fashion </em> <span class="special">Special</span></h1>
      <h1>Product Template</h1>
    </div>
    <div class="descriptionwraap">
      <div class="description">
        The growing popularity of vintage fashion has also influenced major
        designers and fashion houses. Many contemporary collections now feature
        vintage-inspired designs, proving that old styles can indeed be new
        again.
      </div>
      <div class="description">
        The number one rule we tell women when styling their curly hair is to
        work with their natural texture rather than try to turn it into
        something it’s not. While straight hair is fun every now and again, it
        can be tiring to always transform your curls to straight locks every
        single day. Like many other hair types, curly hair doesn’t always
        cooperate when styling.
      </div>
      <div class="description">
        The best way to style it involves experimenting with hair care products
        to help you to define your curls as well as learning more about curly
        hair styling tips and tricks. If hair gel has been a part of your curly
        hair routine, then you’ll be just as excited to discover that there’s
        also spray gel. Spray gel is the lighter yet still strong version of
        your must-have hair product and we have a feeling you’re going to love
        it.
      </div>
      <div class="description">
        Spray Hair Gel 101 1. What’s the difference between spray hair gel and
        regular hair gel? You may be wondering what the difference is between
        spray hair gel and regular hair gel. After all, some variations of tried
        and true products really are just a marketing scheme. A spray hair gel
        has the same volume-inducing characteristics that create buoyancy as it
        strengthens your style. The difference is in the formula and
        application. A spray gel is a cross between a hairspray and a hair gel
        and the consistency reflects that. And, of course, spray gels come with
        a spray applicator that provides a lighter coating on the hair. 2. How
        do you use this product? This product is best used on damp hair. Wash
        and condition your hair with your favorite duo, then towel dry your
        hair. Spray your hair gel of choice generously all over your strands and
        scrunch. 3. Which product do we recommend? We love TRESemmé One Step
        Styler Curls Crème-Gel for a few reasons. This formula is with natural
        oil extract and adds a buildable hold to help control curls and frizz.
        And, as promised, it leaves your hair touchably soft and crunch-free.
      </div>
    </div>
    <a
      target="_blank"
      href="https://www.allthingshair.com/en-us/hair-products/hair-gel/spray-gel/"
    >
      <button>Learn more -></button>
    </a>
  </div>
</div>
